@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');

.allFont {
    font-family: 'Noto Serif TC', serif;
    font-weight: 900;
  }
.card {
  width: 90%;
  height: auto;
  padding: 10px;
  background-color: antiquewhite;
  border-radius: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 1rem auto;

}

.card:hover {
  transform: scale(1.05); /* 放大效果 */
  /* transform: translateY(-10px); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cardImage {
  width: 80%;
  height: auto;
  margin: 5% 0;
}
.card-text{
  font-size: 0.9rem;
  padding-right: 14rem;
}
.cardLevelContainer {
  display: flex;
  justify-content: space-between;
  height: auto;
}


.card h3 {
  /* font-weight: 900; */
  margin-top: 20px;
}
.cardTitle{
  font-size: 1.8rem;
  /* font-weight: 700; */
}
.card h6,
.card-details {
  font-size: 1rem;
  text-align: start;
  line-height: 1.8;
  margin-bottom: 10px;
  padding: 10px;
  /* white-space: pre-line; 確保保留換行符號的樣式 */
}

.card p {
  text-align: start;
  font-size: 0.9rem;
  /* font-weight: 700; */
  padding-left: 1.6rem;
  /* padding-right: 12rem; */
  /* margin-right:15rem; */
  color: #a0722a;
}

.btnPlan,
.btnPlan1 {
  width:25%;
  height: auto;
  font-size: 1rem;
  margin-right: 5px;
  white-space: nowrap; /* 防止文字超出按鈕 */
  /* font-weight: 600; */
  color: #6A513D;
  border-radius: 35px;
}
.btnPlan:hover,
.btnPlan1:hover {
  width:25%;
  height: auto;
  font-size: 1rem;
  margin-right: 5px;
  white-space: nowrap; /* 防止文字超出按鈕 */
  background-color: #6A513D;
  color: #ffffff;
  /* font-weight: 600; */
}



@media (max-width: 990px) {
  .card {
  width: 100%;
  height: auto;
  padding: 5px;
  background-color: antiquewhite;
  border-radius: 20px;
}

.cardImage {
  width: 80%;
  height: auto;
  margin: 5% 0;
}

.cardDetails {
  display: flex;
  justify-content: space-between;
  height: auto;
  margin: 0; /* 去除上下邊距 */
  padding: 0; /* 去除內邊距 */
}


.card h5 {
  font-size: 1.2rem;
  /* font-weight: 900; */

}

.card h6,
.card-details {
  font-size: 0.8rem;
  text-align: start;
  line-height: 1.8;
  margin-bottom: 10px;
  padding: 10px;
  /* white-space: pre-line; 確保保留換行符號的樣式 */
  
}

.card p {
  text-align: start;
  line-height: 1;
  font-size: 0.7rem;
  /* font-weight: 700; */
  padding-left: 10px;
  color: #a0722a;
}

.btnPlan,
.btnPlan1 {
  width:30%;
  height: auto;
  font-size: 0.6rem;
  margin-right: 5px;
  margin-top: 10px;
  white-space: nowrap;
}
}
@media (max-width: 768px){
  .card {
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: antiquewhite;
  border-radius: 20px;
}
.cardImage {
  width: 70%;
  height: auto;
}
.cardDetails {
  display: flex;
  justify-content: space-between;
  height: auto;
  margin: 0; /* 去除上下邊距 */
  padding: 0; /* 去除內邊距 */
}
.card h5 {
  font-size: 1.4rem;
  /* font-weight: 900; */

}

.card h6,
.card-details {
  font-size: 0.9rem;
  text-align: start;
  line-height: 1.8;
  margin-bottom: 15px;
  padding: 20px;
  /* white-space: pre-line; 確保保留換行符號的樣式 */
}

.card p {
  text-align: start;
  line-height: 1.2;
  font-size: 0.9rem;
  /* font-weight: 700; */
  padding-left: 20px;
  color: #a0722a;
}

.btnPlan,
.btnPlan1 {
  height: 38px;
  font-size: 1rem;
  margin-right: 5px;
  white-space: nowrap; 
}
}
@media (max-width: 576px) {
  .card {
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: antiquewhite;
  border-radius: 20px;
}

.cardImage {
  width: 80%;
  height: auto;
}

.cardDetails {
  display: flex;
  justify-content: space-between;
  height: auto;
  margin: 0; /* 去除上下邊距 */
  padding: 0; /* 去除內邊距 */
}


.card h5 {
  font-size: 1.4rem;
  /* font-weight: 900; */
  margin-top: 20px;
}

.card h6,
.card-details {
  font-size: 1rem;
  text-align: start;
  line-height: 1.8;
  margin-bottom: 15px;
  padding: 10px;
  /* white-space: pre-line; 確保保留換行符號的樣式 */
}

.card p {
  text-align: start;
  line-height: 1;
  font-size: 0.9rem;
  /* font-weight: 700; */
  padding-left: 10px;
  color: #a0722a;
}

.btnPlan,
.btnPlan1 {
  height: 34px;
  font-size: 0.9rem;
  margin-right: 5px;
  white-space: nowrap; 
}
}
