.container {
  display: flex;
  padding: 5% 15%; /* 上下各為寬度的5%，左右各為寬度的20% */
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  background-color: #FFF9E4;
}
.form-body{
    width: 100%;
    background-color: #FFFFFF;
}

.avatar-container {
  width: 200px;
  height: 200px;
  background-color: darkgrey;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.avatar-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-container p {
  color: white;
  font-size: 16px;
}

.switch-layout{
  display: flex;
  padding: 32px 57px;
  justify-content: center;
  align-items: flex-start;
  gap: 28px;
  align-self: stretch;
}
.switch-button{
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 20px;
  border: 1px solid #000;
  background:  #FFF5CF;
}

.switch-button-active{
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 20px;
  border: 1px solid #000;
  background: #F6D554;
}