.reset {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../pet_img/bg-img.png);
}

a {
    text-decoration: none;
    color: #000;
    /* display: block; */
}

.z-index-top {
    z-index: 999;
}

a:hover {
    color: #000;
    cursor: pointer;
}

.fav-hover:hover {
    color: #4CB1C8;
}

.del-hover:hover {
    color: red;
}

/* slick css 這裡開始 */
.slider {
    width: 100%;
    margin: 100px auto;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-slide {
    transition: all ease-in-out 0.3s;
    opacity: 0.2;
}

.slick-active {
    opacity: 1;
}

.slick-current {
    opacity: 1;
}

/* slick css 這裡結束 */


.rounded-5 {
    border-radius: 15px;
}

.h-70 {
    height: 70%;
}

.w-10 {
    width: 245px;
}

.w-20 {
    width: 20%;
}


.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-93 {
    width: 93%;
}

.w-95 {
    width: 95%;
}

.blue {
    color: #4CB1C8;
}

.orange-yellow {
    color: #F69A30;
}

.light-gray {
    color: #C8C8C8;
}

.hover:hover {
    color: #F4BC7A;
}

.border-coffee {
    border-color: #6a513d;
}

::placeholder {
    color: #4CB1C8;
    padding-left: 5%;
}

::-webkit-scrollbar {
    display: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

.border-blue {
    border-color: #4CB1C8;
}

.btn-hover:hover {
    background-color: #f6d554;
    border: 1px solid #f6d554;
}

.go-top-btn {
    text-decoration: none;
    color: #f69a30;
}

.go-top-btn:hover {
    color: #f6d554;
}

.border-end-del {
    border-end-end-radius: unset;
    border-top-right-radius: unset;
}

.border-start-del {
    border-start-start-radius: unset;
    border-bottom-left-radius: unset;
}

.my-active {
    color: #f6d554 !important;
    border-bottom: 3px solid #f6d554;
}

.mobile-sidebar:hover {
    color: #f6d554 !important;
    border-bottom: 3px solid #f6d554;
}

.display-change {
    display: none;
}

.display-change.active {
    display: block;
}