.BgImg {
    background-image: url('/forum-pic/bg-img.png'); 
}
.AReset {
    text-decoration: none;
    color: #000;
}

.AReset:hover {
    color: #000;
    cursor: pointer;
}

.FavHover:hover {
    color: #4CB1C8;
}

.DelHover:hover {
    color: red;
}

/* slick css 這裡開始 */
.slider {
    width: 100%;
    margin: 100px auto;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-slide {
    transition: all ease-in-out 0.3s;
    opacity: 0.2;
}

.slick-active {
    opacity: 1;
}

.slick-current {
    opacity: 1;
}

/* slick css 這裡結束 */


.Rounded5 {
    border-radius: 15px;
}

.H70 {
    height: 70%;
}

.W10 {
    width: 245px;
}

.W80 {
    width: 80%;
}

.OrangeYellow {
    color: #F69A30;
}

.LightGray {
    color: #C8C8C8;
}

.Hover:hover {
    color: #F4BC7A;
}

.BorderCoffee {
    border-color: #6a513d;
}

/* ::placeholder {
    color: #4CB1C8;
    padding-left: 5%;
}

::-webkit-scrollbar {
    display: none;
    overflow-x: hidden;
    overflow-y: hidden;
} */

.BorderBlue {
    border-color: #4CB1C8;
}

.BtnHover:hover {
    background-color: #f6d554;
    border: 1px solid #f6d554;
}

.GoTopBtn {
    text-decoration: none;
    color: #f69a30;
}

.GoTopBtn:hover {
    color: #f6d554;
}

.BorderEndDel {
    border-end-end-radius: unset;
    border-top-right-radius: unset;
}

.BorderStartDel {
    border-start-start-radius: unset;
    border-bottom-left-radius: unset;
}

.MyActive {
    color: #f6d554 !important;
    border-bottom: 3px solid #f6d554;
}

.MobileSidebar:hover {
    color: #f6d554 !important;
    border-bottom: 3px solid #f6d554;
}

.DisplayChange {
    display: none;
}

.DisplayChange.active {
    display: block;
}